* {
  outline: none;
}

html,
body {
  margin: 0;
}

.arrow {
  margin-right: 5px;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}
h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-style: none;
}

.bm-item {
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
  padding-bottom: 4%;
}

.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 36px;
  top: 15px;
  z-index: 1032 !important;
}

.bm-burger-bars {
  background: #fff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.bm-cross {
  background: #fff;
}

.bm-menu {
  background: #00b382;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #fff;
}

.bm-item-list {
  color: #ffff;
}

.bm-overlay {
  background: #fff;
  outline: none;
}

a:hover {
  color: #fff;
}

div a {
  text-decoration: none;
  color: #fff;
}
