h1 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h5 {
  left: 0;
  line-height: 200px;
  margin-top: -50px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 > span {
  color: #00996f;
}

h5 > span {
  font-weight: bold;
  color: #00996f;
}

.friends {
  width: 230px;
}
