.header {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.header,
.subhead {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
.header > span {
  color: #00996f;
}

.subhead > span {
  font-weight: bold;
  color: #00996f;
}

.study {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
