.text {
  outline: none;
  border: none;
  border-bottom: solid;
  width: 60px;
}

.phrases {
  outline: none;
  border: none;
  border-bottom: solid;
  width: 40%;
}

.check {
  display: inline-block;
  color: #ffffff;
  background-color: #00805d;
  border-radius: 10px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border: 5px solid #00664a;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px #004d38;
  transform: translateX(4px);
  margin-bottom: 5%;
  margin-top: 2%;
}

.check:hover {
  background-color: #00996f;
}

.check:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #004d38;
  transform: translateY(4px);
  outline: none;
}

.checkMark {
  color: lightgreen;
}
.incorrect {
  color: #ff3333;
}
