.app {
  box-sizing: border-box;
  background-color: #00996f;
  width: 500px;
  min-height: 200px;
  height: min-content;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "monospace", sans-serif;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  color: #fff;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  color: #fff;
}

.question-count {
  margin-bottom: 20px;
  color: #fff;
}

.question-count span {
  font-size: 28px;
  color: #fff;
}

.question-text {
  margin-bottom: 12px;
  color: #fff;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #00805d;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #00664a;
  cursor: pointer;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #004d38;
  transform: translateY(4px);
}

.btn:focus {
  outline: none;
}

.restart {
  width: 80px;
  margin-left: 10%;
}
