.about {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: #00996f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.languages {
  opacity: 0.8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
