.introduction {
  font-size: 1.5rem;
  margin: 10px 0px 10px 20px;
  color: #00996f;
  margin-left: 5%;
}

.title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #00996f;
  font-weight: 500;
}

.conjugation {
  margin-top: 2%;
  margin-left: 5%;
  color: #00996f;
}

.beispiel {
  font-weight: normal;
}

strong {
  padding-left: 25px;
}
