* {
  box-sizing: border-box;
}

#page-wrap {
  display: inline;
  justify-content: center;
}

h1 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Lobster Two", cursive;
}

h5 {
  left: 0;
  line-height: 200px;
  margin-top: -50px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Lobster Two", cursive;
}

div h2:hover {
  color: #000;
}

span {
  color: #08fdd8;
}

h5 > span {
  font-weight: bold;
}
